{% extends 'CourtyardForumBundle::Forum.html.twig' %}

{% block forum_content %}
	<h1>{{ board.title }}</h1>
	<a href="{{ generateNewTopicUrl(board) }}">Create New Topic</a>
	
	<h2>Topics</h2>
	<ul class="topics">
	    {% for topic in topics %}
	        <li class="topic">
	           <h3><a href="{{ generateTopicUrl(topic) }}">{{ topic.title }}</a></h3>
	           Started: {{ topic.datePosted|date('Y-m-d') }}<br>
	           Last Reply: {{ topic.dateUpdated|date('Y-m-d') }} by [Joe]
           </li>
	    {% endfor %}
	</ul>
{% endblock forum_content %}